<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Text summarization</h1>
                <p class="lead">Retive the best summary for the text</p>
            </div>
        </div>
    </div>

    <div class="container" style="display: flex; justify-content: space-around;">
        <p class="original_title col-sm-4">Original text</p>
        <p class="summary_title col-sm-4">Summary</p>
    </div>

    <div class="container srt">
        <p class="originalTxt col-sm-6">{{original_txt}}</p>
        <div class="container col-sm-6">
            <p class="summaryTxt">{{summary}}</p>
            <button class="btn btn-success" type="submit" style="margin-left: 10px;">Words: {{len_summary}}</button>
        </div>
        
    </div>

    <div class="container">
        <button class="btn btn-danger" type="submit">Words: {{len_orig_text}}</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>